*{
   
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: verdana;

}

header {
  color:white;
  text-align: center;
  background: linear-gradient(90deg,#0ba5a8 0%,#054379 100%);
  border-radius: 10px;
  width: 30%;
  font-size: 75%;
  margin-left: 35%; 
  margin-bottom: 20px;
  margin-top: 100px;
  padding: 7px;
 }

 #corpoPrincipal {
  /* background-color: aqua; */
  background: linear-gradient(90deg,#15ced1 0%,#0462b4 100%);
 
}

#corpoSegundario {
  /* background-color: cadetblue; */
  width: 30%;
  margin-left: 35%;
  height: 500px;
}

#dados {
  /* background-color: chartreuse; */
  height: 280px;
 
}

#dados form {
  /* background-color: darkred; */
  height: 280px;
  padding-top: 10px;

}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: rgb(12, 182, 182);
  border-radius: 10px;
  /* padding-left: 20px; */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
 
}

.form-control label {
  margin-bottom: 5px;
  color: #054379;
  font-weight: 700;
 
}

.form-control label ,
.form-control input {
  width: 80%;
  margin-left: 10%;

}

.form-control input {
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: #054379;
  font-size: 14.5px;
}

.form-control select ,
#op_matematica {
  width: 50%;
  margin-left: 25%;
}

.form-control select {
  border-radius: 10px;
  padding: 5px;
  color: #054379;
}

#resultado {
  width: 100%;
  /* height: 220px; */
  /* background-color: rgb(12, 192, 192); */
  border-radius: 10px;
  background-color: rgba(20, 180, 220, 0.797);
  margin-top: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#resultado  select{ 
  margin-top: -10px;
  background-color:rgba(233, 242, 245, 0.797);
  overflow-y:scroll;
  overflow-x: scroll;
  width: 50%;
  margin-left: 25%;
  border: none;
  font-weight: bolder;
  font-size: 14.5px;
  color: #054379;
  padding-left: 4px;

}

.tab2Text {
  

}
#botao {
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  background: linear-gradient(90deg,#0ba5a8 0%,#054379 100%);
  color: whitesmoke;
  padding: 7px;
  font-weight: bolder;
}


#rodape {
  margin-top: 160px;
  width: 100%;
  /* background-color: #054379; */
  background: linear-gradient(90deg,#054379 0%,#0ba5a8 100%);
  padding: 20px;
  color: cyan;
}

@media (max-width:950px) {

  header {
    width: 50%;
    margin-left: 25%; 
  }
  .form-control {
    width: 165%;
    margin-left: -31%; 
  }

  #resultado {
    width: 165%;
    margin-left: -31%; 
  }

}

@media (max-width:666px) {

  header {
    width: 55%;
    margin-left: 25%; 
  }
  .form-control {
    width: 180%;
    margin-left: -31%; 
  }

  #resultado {
    width: 180%;
    margin-left: -31%; 
  }

}

@media (max-width:500px) {

  header {
    width: 67%;
    margin-left: 15%; 
  }
  .form-control {
    width: 220%;
    margin-left: -67%; 
  }

  #resultado {
    width: 220%;
    margin-left: -67%; 
  }

}

@media (max-width:1310px) and (min-width:951px) {

  #resultado {
    margin-top: 85px;
  }

}

@media (max-width:794px) and (min-width:200px) {
  
  #resultado {
    margin-top: 85px;
  }

}


