*{
   
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: verdana;

}

header {
  color:white;
  text-align: center;
  background: linear-gradient(90deg,#0ba5a8 0%,#054379 100%);
  box-shadow: -6px 6px 40px #054379 ;
  border-radius: 10px;
  width: 34%;
  max-width: 670px;
  font-size: 75%;
  margin-left: 33%; 
  margin-bottom: 20px;
  margin-top: 100px;
  padding: 7px;
 }

 #corpoPrincipal {
  /* background-color: aqua; */
  background: linear-gradient(90deg,#15ced1 0%,#0462b4 100%);
 
}

#corpoSegundario {
  /* background-color: cadetblue; */
  width: 34%;
  margin-left: 33%;
  height: 500px;
}

#dados {
  /* background-color: chartreuse; */
  height: 280px;
 
}

#dados form {
  /* background-color: darkred; */
  height: 280px;
  padding-top: 10px;

}

.form-control {
  max-width: 670px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: rgb(12, 182, 182);
  box-shadow: -6px 6px 40px rgb(5, 126, 126) ;
  border-radius: 10px;
  /* padding-left: 20px; */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
 
}

.form-control label {
  margin-bottom: 5px;
  color: #054379;
  font-weight: 700;
 
}

.form-control label ,
.form-control input {
  width: 80%;
  margin-left: 10%;

}

.form-control input {
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: #054379;
  font-size: 14.5px;
}

.form-control select ,
#op_matematica {
  width: 50%;
  margin-left: 25%;
}

.form-control select {
  border-radius: 10px;
  padding: 5px;
  color: #054379;
}

@keyframes go-back {
  0% {
      transform: rotateY(0px);
  }
  100% {
      
      transform: rotateY(360deg);
  }
}



#resultado {
  display: none;
  width: 100%;
  max-width: 670px;
  /* height: 220px; */
  /* background-color: rgb(12, 192, 192); */
  border-radius: 10px;
  background-color: rgba(20, 180, 220, 0.797);
  box-shadow: -6px 6px 40px rgb(5, 126, 126);
  margin-top: 63px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#resultado2{
  width: 100%;
  max-width: 670px;
  border-radius: 10px;
  background-color: rgba(20, 180, 220, 0.797);
  box-shadow: -6px 6px 40px rgb(5, 126, 126);
  margin-top: 63px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

#resultadoIMC {
  display: none;
  width: 100%;
  max-width: 670px;
  border-radius: 10px;
  background-color: rgba(20, 180, 220, 0.797);
  box-shadow: -6px 6px 40px rgb(5, 126, 126);
  margin-top: 63px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #054379;
  font-weight: bolder;

}

#resultadoIMC a p {
  margin-top: 10px;
}


#resultado2 p {
  font-weight: bolder;
  color: #054379;
}

#resultado2 img {
  width:200px;
  margin-top: 20px;

}


#resultado  select{ 
  margin-top: -10px;
  background-color:rgba(233, 242, 245, 0.797);
  overflow-y:scroll;
  overflow-x: scroll;
  width: 50%;
  margin-left: 25%;
  border: none;
  font-weight: bolder;
  font-size: 14.5px;
  color: #054379;
  padding-left: 4px;
  height: 35px;
  border-radius: 10px;

}

.tab2Text {
  

}
#botao {
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  background: linear-gradient(90deg,#0ba5a8 0%,#054379 100%);
  box-shadow: -2px 2px 3px #037e81 ;
  color: whitesmoke;
  padding: 7px;
  font-weight: bolder;
  cursor: pointer;
  transition:all 2s
}

#botao:hover { 
  background: linear-gradient(90deg,#f4fc03 0%,#fa0303 100%);
}


#rodape {
  margin-top: 160px;
  width: 100%;
  /* background-color: #054379; */
  background: linear-gradient(90deg,#054379 0%,#0ba5a8 100%);
  padding: 20px;
  color: cyan;
}

@media (max-width:950px) {

  header {
    width: 50%;
    margin-left: 25%; 
  }
  .form-control {
    width: 147%;
    margin-left: -23%; 
  }

  #resultado {
    width: 147%;
    margin-left: -23%; 
  }

  #resultado2{
    width: 147%;
    margin-left: -23%; 
  }

  #resultadoIMC {
    width: 147%;
    margin-left: -23%; 
  }

}

@media (max-width:666px) {

  header {
    width: 61%;
    margin-left: 22.2%; 
  }
  .form-control {
    width: 180%;
    margin-left: -31%; 
  }

  #resultado {
    width: 180%;
    margin-left: -31%; 
  }

  #resultado2 { 
    width: 180%;
    margin-left: -31%; 
  }

  #resultadoIMC {
    width: 180%;
    margin-left: -31%; 
  }

}

@media (max-width:500px) {

  header {
    width: 68%;
    margin-left: 15%; 
 
  }
  .form-control {
    width: 235%;
    margin-left: -67%; 
  }

  #resultado {
    width: 235%;
    margin-left: -67%; 
  }

  #resultado2 {
    width: 235%;
    margin-left: -67%; 
  }

  #resultadoIMC {
    width: 235%;
    margin-left: -67%; 
  }

}

@media (max-width:487px){

  header {
    width: 79%;
    margin-left: 10%; 
  }


}

@media (max-width:500px) and (min-width:488px) {

  header {
    width: 80%;
    margin-left: 10%; 
  }

}

@media(max-width:335px) {

  #op_matematica {
      font-size: 80%;  
  }
}





